<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <main>
        <form id="login">
            <input type="number" id="consumption" placeholder="Consumo de Energía en Kwh">
            <button type="button" id="btnCalculate">Calcular</button>
        </form>
    </main>
    <script type="module" src="../js/main.js"></script>
</body>
</html>